.swiperWrapper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    margin-bottom: 30px;
}

.swiper-pagination > .swiper-pagination-bullet {
    background-color: #ffffff;
    opacity: 0.5;
    padding: 3px;
    margin-bottom: 60px;

    /* seguindo o padrão de device-size do arquivo 'theme.ts' */
    @media screen and (min-width: 310px) and (max-width: 520px) {
        display: none;
    }
}

.swiper-pagination > .swiper-pagination-bullet-active {
    background-color: #fff;
    opacity: 1
}

.swiper-button-prev::after, .swiper-button-next::after {
    color: #fff;
    opacity: 0;
    padding-right: 5px;
}